<div class="gapp-leftmenu pull-left">
	<ul id="gn-menu" class="gn-menu-main">
		<li class="gn-trigger">
			<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
			<nav class="gn-menu-wrapper">
				<div class="gn-scroller">
					<ul class="gn-menu">
					
						<!-- Client Management Start-->
						<li><a href="Javascript:void(0)" onclick="FnNavigateTargetPage('/clients/list')"><i class="gn-icon gn-icon-client" ></i><span>Client Management</span></a></li>
						<!-- Client Management End-->
						
						<!-- Device Management Start-->
						<li><a href="/device/list" ><i class="gn-icon gn-icon-client" ></i><span>Device Management</span></a></li>
						<!-- Device Management End-->						
												
					</ul>
				</div>
			</nav>
		</li>
	</ul>
</div>