<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="UI for IOT platform">
        <meta name="author" content="galaxy">
		<title>Welcome to Galaxy</title>
		<link rel="shortcut icon" href="images/favicon.ico">
		<!-- Material Design fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
					
		<!-- customstyle -->	  
		<link rel="stylesheet" type="text/css" href="/assets/css/gapp.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />	
		<link rel="stylesheet" type="text/css" href="/assets/css/ripples.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/leftmenu-component.css" />
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" />
		<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/plugins/simple-line-icons/simple-line-icons.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

		<link rel="stylesheet" type="text/css" href="/assets/plugins/uniform/css/uniform.default.css" />
		<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
		
		
		<link rel="stylesheet" type="text/css" id="style_components" href="/assets/css/components-md.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/plugins-md.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />	
		<link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />		
		
		<!-- KendoUI Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/css/KendoUI/kendo.common.min.css"  />
		<link rel="stylesheet" type="text/css" href="/assets/css/KendoUI/kendo.material.css"  />
		<!--<link rel="stylesheet" type="text/css" href="/assets/css/KendoUI/kendo.custom.css"  />-->
		
		<!-- BEGIN CUSTOM THEME STYLES -->
		<link rel="stylesheet" type="text/css" id="style_color" href="/assets/css/darkblue.css" />